<div class="container bg-grad">
  <h1>Convites</h1>

  <div class="invites">
    <div *ngFor="let invite of invites" class="card">
      <div class="content">
        <div class="top">
          <i-tabler (click)="delete(invite.uid!)" class="icon trash" name="trash"></i-tabler>
        </div>

        <div class="mid">
          <p class="data">
            <span>Nome</span>
            {{ invite.name }}
          </p>

          <p class="data">
            <span>N. convidados</span>
            {{ invite.amount }}
          </p>

          <p class="data">
            <span>Código</span>
            {{ invite.code }}
          </p>

          <i-tabler *ngIf="invite.confirmed" class="icon checked" name="circle-check"></i-tabler>
          <i-tabler *ngIf="!invite.confirmed" class="icon not-checked" name="x"></i-tabler>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading [isActive]="loading"></app-loading>
