.sidebar-hamburger-container {
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: calc(112px / 2);
  right: 32px;
  transform: translateY(-50%);
  z-index: 1001;
  background: #975d55;
  border-radius: 28px;
  cursor: pointer;

  -webkit-box-shadow: 5px 5px 15px -6px #000000;
  box-shadow: 5px 5px 15px -6px #000000;
  transition: right 0.6s ease;
  animation: fadeIn 3s;

  &:before,
  &:after,
  div {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #fff;
    margin: 2.5px 0;
    border-radius: 3px;
    transition: transform 0.6s ease;
  }

  &.sidebar-container--opened {
    right: 0px;
    -webkit-box-shadow: 5px 5px 15px -6px transparent;
    box-shadow: 5px 5px 15px -6px transparent;

    &:before {
      transform: translateY(8px) rotate(135deg);
    }

    &:after {
      transform: translateY(-6px) rotate(-135deg);
    }

    div {
      transform: scale(0);
    }
  }
}

.sidebar-container {
  width: 268px;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0px;
  right: -268px;

  z-index: 1000;

  background: #975d55;
  padding: 0px 32px;

  box-sizing: border-box;

  opacity: 0;

  transition: all 0.4s ease-in-out;

  &.sidebar-container--opened {
    right: 0px;
    opacity: 1;

    .sidebar__links,
    .sidebar__brand {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .sidebar__links {
    display: flex;
    flex-direction: column;

    transform: translateX(35px);

    opacity: 0;
    transition: all 1s ease-in-out;

    .sidebar__link {
      max-width: 200px;

      margin-bottom: 32px;

      @media (max-height: 672px) {
        margin-bottom: 16px;
      }

      @media (max-height: 480px) {
        margin-bottom: 8px;
      }

      a {
        font-size: 14px;
        font-weight: lighter;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;

        white-space: nowrap;

        cursor: pointer;

        transition: all 0.2s ease-in-out;

        &:hover {
          font-weight: bold;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
