<em #closeSidebar class="sidebar-hamburger-container" (click)="toggle()">
  <div></div>
</em>

<div #sidebar class="sidebar-container">
  <ul class="sidebar__links">
    <li (click)="toggle()" class="sidebar__link" routerLink="/">
      <a>Início</a>
    </li>

    <li (click)="toggle()" class="sidebar__link" routerLink="/admin/convites">
      <a>Convites</a>
    </li>

    <li (click)="toggle()" class="sidebar__link" routerLink="/admin/novo-convite">
      <a>Novo convite</a>
    </li>

    <li (click)="toggle()" class="sidebar__link" routerLink="/admin/cadastrar">
      <a>Cadastrar</a>
    </li>

    <li class="sidebar__link" (click)="toggle(); logout()">
      <a>Logout</a>
    </li>
  </ul>
</div>
