<div class="container bg-grad flex-center noscroll">
  <div class="flowers">
    <em class="flower-top"></em>
    <em class="flower-bottom"></em>
  </div>

  <div class="all-content flex-center">
    <div class="logo-container">
      <em class="logo"></em>
    </div>

    <div class="content-invite">
      <div class="top-content flex-center">
        <em class="gabi-font"></em>
        <em class="graphism"></em>
      </div>

      <div class="mid-content flex-center">
        <em class="date"></em>
        <em class="time"></em>
      </div>
    </div>

    <a *ngIf="inviteCode" class="red-button" (click)="activateInvite()">
      <div>
        <i-tabler class="icon" name="circle-check"></i-tabler>
        Confirmar presença
      </div>
    </a>

    <div class="bottom-info">
      <small>* Número de convidados limitado ao convite confirmado</small>
    </div>
  </div>
</div>
