<div class="container bg-grad flex-center noscroll">
  <div class="flowers">
    <em class="flower-top"></em>
    <em class="flower-bottom"></em>
  </div>

  <div class="all-content flex-center">
    <div class="logo-container">
      <em class="logo"></em>
    </div>

    <div class="content-invite">
      <div class="top-content flex-center">
        <em class="gabi-font"></em>
        <em class="graphism"></em>
        <em class="years_old"></em>
      </div>

      <div class="mid-content flex-center">
        <em class="date"></em>
        <em class="time"></em>
      </div>

      <div class="bottom-content flex-center">
        <em class="buffet"></em>
        <em class="address"></em>
      </div>
    </div>

    <div *ngIf="inviteCode" class="button-container">
      <a class="red-button" (click)="activateInvite()">Confirmar presença</a>
    </div>
  </div>
</div>
