.flowers {
  em {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: fixed;

    &.flower-top {
      background-image: url(../../../assets/convite/svg/flower-top.svg);

      width: 177px;
      height: 195px;
      top: 0;
      left: 0;
    }

    &.flower-bottom {
      background-image: url(../../../assets/convite/svg/flower-bottom.svg);

      width: 292px;
      height: 171px;
      bottom: 0;
      right: 0;
    }
  }
}

.all-content {
  position: relative;
  z-index: 1;

  .logo-container {
    em {
      &.logo {
        background-image: url(../../../assets/convite/svg/logo-gabi.svg);
        background-size: contain;
        background-repeat: no-repeat;

        height: 100px;
        width: 100px;
        display: block;
      }
    }
  }

  .content-invite {
    .top-content {
      margin-top: 10px;

      em {
        background-size: contain;
        background-repeat: no-repeat;
        display: block;

        &.gabi-font {
          background-image: url(../../../assets/convite/svg/gabriela-font.svg);

          width: 250px;
          height: 64px;
        }

        &.graphism {
          background-image: url(../../../assets/convite/svg/graphism.svg);
          margin-top: 10px;

          width: 156px;
          height: 20px;
        }

        &.years_old {
          background-image: url(../../../assets/convite/svg/15_anos.svg);
          margin-top: 10px;

          height: 34px;
          width: 105px;
        }
      }
    }

    .mid-content {
      margin-top: 30px;

      em {
        background-size: contain;
        background-repeat: no-repeat;
        display: block;

        &.date {
          background-image: url(../../../assets/convite/svg/30_julho.svg);

          height: 15px;
          width: 126px;
        }

        &.time {
          background-image: url(../../../assets/convite/svg/time.svg);
          margin-top: 10px;

          height: 15px;
          width: 126px;
        }
      }
    }

    .bottom-content {
      margin-top: 30px;

      em {
        background-size: contain;
        background-repeat: no-repeat;
        display: block;

        &.buffet {
          background-image: url(../../../assets/convite/svg/buffet.svg);

          height: 12px;
          width: 86px;
        }

        &.address {
          background-image: url(../../../assets/convite/svg/address.svg);
          margin-top: 10px;

          width: 305px;
          height: 15px;
        }
      }
    }
  }

  .button-container {
    margin-top: 30px;

    @media (max-width: 767px) {
      width: 100%;
    }

    a {
      &:last-of-type {
        margin-top: 20px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          height: 30px;
          width: 30px;
          margin-right: 10px;
        }
      }
    }
  }

  .bottom-info {
    text-align: center;
    margin-top: 30px;

    small {
      font-size: 0.8125rem;
      display: block;
      margin-bottom: 5px;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
