<div class="container purple-bg">
  <div routerLink="/" class="back">
    <i-tabler class="icon" name="chevron-left"></i-tabler>
  </div>

  <div class="limiter-area">
    <div class="logo-area">
      <em></em>
    </div>

    <div class="foods-area">
      <div class="line">
        <div class="title">
          <p>Bebidas</p>
        </div>

        <div class="content">
          <div class="flex-item">
            <p>Água gaseificada</p>
          </div>

          <div class="flex-item">
            <p>Água mineral</p>
          </div>

          <div class="flex-item">
            <p>Bar de drinks</p>
          </div>

          <div class="flex-item">
            <p>Refrigerantes</p>
          </div>

          <div class="flex-item">
            <p>Sucos</p>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="title">
          <p>Entrada</p>
        </div>

        <div class="content">
          <div class="flex-item">
            <p>
              Coquetel de salgados
              <span>Salgados variados, fritos e assados</span>
            </p>
          </div>

          <div class="flex-item">
            <p>
              Coquetel de entrada
              <span>Batidas dois sabores (com ou sem álcool)</span>
            </p>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="title">
          <p>Jantar</p>
        </div>

        <div class="content">
          <div class="title-txt">
            <p>Cumbuquinhas com as opções:</p>
          </div>

          <div class="flex-item">
            <p>Escondidinhos</p>
          </div>

          <div class="flex-item">
            <p>Ragus</p>
          </div>

          <div class="flex-item">
            <p>Massa penne com duas opções de molho</p>
          </div>

          <div class="flex-item">
            <p>Mini saladinha colorida</p>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="title">
          <p>Doces</p>
        </div>

        <div class="content">
          <div class="flex-item">
            <p>Docinhos variados</p>
          </div>

          <div class="flex-item">
            <p>Bolo surpresa!</p>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="title">
          <p>Encerramento</p>
        </div>

        <div class="content">
          <div class="flex-item">
            <p>Mesa de café</p>
          </div>

          <div class="flex-item">
            <p>Petit fours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
