<div class="container bg-grad">
  <h1>Convites</h1>

  <!-- <a (click)="exportToExcel()">Excel</a> -->

  <div class="data-status">
    <div>
      <p class="title">Convites</p>
      <h3>Total: {{ allInvites.length }}</h3>
      <h3>Confirmados: {{ confirmedInvitesNumber }}</h3>
    </div>

    <div>
      <p class="title">Convidados</p>
      <h3>Total: {{ totalInvitedGuests }}</h3>
      <h3>Confirmados: {{ totalInvitedConfirmedGuests }}</h3>
    </div>
  </div>

  <div class="invites-space">
    <div class="invites">
      <div *ngFor="let invite of allInvites | paginate: config" class=" card">
        <div class="content">
          <div class="top">
            <i-tabler (click)="delete(invite.uid!)" class="icon trash" name="trash"></i-tabler>
          </div>

          <div class="mid">
            <p class="data">
              <span>Nome</span>
              {{ invite.name }}
            </p>

            <p class="data">
              <span>N. convidados</span>
              {{ invite.amount }}
            </p>

            <p class="data">
              <span>Código</span>
              {{ invite.code }}
            </p>

            <p *ngIf="!invite.confirmed" class="data">
              <a (click)="copyLink(invite.code)" class="red-button">Copiar link</a>
            </p>

            <i-tabler *ngIf="invite.confirmed" class="icon checked" name="circle-check"></i-tabler>
            <i-tabler *ngIf="!invite.confirmed" class="icon not-checked" name="x"></i-tabler>
          </div>
        </div>
      </div>
    </div>

    <pagination-template #p="paginationApi" [id]="paginationId" (pageChange)="config.currentPage = $event">
      <div *ngIf="allInvites.length > config.itemsPerPage" class="custom-pagination">
        <i-tabler (click)="p.previous()" [class.disabled]="p.isFirstPage()" class="icon" name="chevron-left"></i-tabler>

        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="index">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            <span>{{ page.label }}</span>
          </a>

          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </div>

        <i-tabler *ngIf="p.isLastPage()" class="icon disabled" name="chevron-right"></i-tabler>
        <i-tabler *ngIf="!p.isLastPage()" (click)="p.next()" class="icon" name="chevron-right"></i-tabler>
      </div>
    </pagination-template>
  </div>
</div>

<app-loading [isActive]="loading"></app-loading>
