h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 40px;
}

.data-status {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
  }

  h3 {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
}

.invites-space {
  @media (min-width: 992px) {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .invites {
    width: 100%;
    display: grid;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    justify-items: center;

    grid-template-columns: repeat(3, minmax(33.33%, 1fr));

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, minmax(50%, 1fr));
    }

    .card {
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 100ms ease-in-out;
      border-radius: 4px;
      cursor: default;

      width: calc(100% - 10px);

      @media (min-width: 992px) {
        max-width: 300px;
      }

      .content {
        p {
          font-size: 16px;
          margin-bottom: 20px;

          span {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
          }
        }

        .top {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 10px;
        }

        .icon {
          height: 40px;
          width: 40px;

          &.checked {
            color: rgb(15, 114, 15);
          }

          &.not-checked {
            color: rgb(167, 4, 4);
          }

          &.trash {
            height: 30px;
            width: 30px;
            color: red;
            cursor: pointer;
          }
        }
      }
    }

    .card:hover {
      transform: scale(1.05);
    }

    .content {
      padding: 30px;
    }
  }
}
