/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;

  input,
  select {
    &:focus,
    &:focus-visible {
      outline: none !important;
    }
  }

  .container {
    min-height: calc(100vh - 20px);
    padding: 10px;

    &.bg-grad {
      background-color: #4158d0;
      background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    }
  }

  form {
    .input-area {
      margin-top: 30px;
      margin-bottom: 30px;

      &.mod {
        width: calc(100% - 20px);
      }

      input,
      select {
        display: block;
        width: 100%;
        background: #cdcdcd;
        color: #4a4a4a;
        font-weight: 600;
        border-radius: 40px;
        padding: 10px;
      }

      span {
        &.error {
          font-size: 16px;
          display: block;
          color: rgb(199, 4, 4);
          font-weight: bold;
          margin-top: 5px;
        }
      }
    }
  }
}

$transition--length: 0.8;

body.nav-active {
  $menu--items--count: 5;

  .nav {
    visibility: visible;

    &:before,
    &:after {
      transform: translateX(0%) translateY(0%);
    }

    &:after {
      transition-delay: 0.1s;
    }

    &:before {
      transition-delay: 0s;
    }

    &__list-item {
      opacity: 1;
      transform: translateX(0%);
      transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
      color: #ffffff;

      @for $i from 0 through $menu--items--count {
        &:nth-child(#{$i}) {
          transition-delay: $transition--length * $i / 8 + 0.5 + s;
        }
      }
    }
  }
}
