<div class="container bg-grad">
  <div class="card-space">
    <div class="card">
      <div class="area-content">
        <div class="top">
          <h1>Gabi's 15 Party</h1>
        </div>

        <div class="mid">
          <h2>Novo convite</h2>

          <form>
            <div class="input-area">
              <input [(ngModel)]="invite.name" type="text" name="cnome" placeholder="Nome do convite">
              <span *ngIf="inputNameErrorMessage.length > 0" class="error">{{inputNameErrorMessage}}</span>
            </div>

            <div class="input-area">
              <select [(ngModel)]="invite.amount" name="cquantidade">
                <option disabled selected value="0">Quantidade de convidados</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <span *ngIf="inputQuantErrorMessage.length > 0" class="error">{{inputQuantErrorMessage}}</span>
            </div>
          </form>
        </div>
      </div>

      <div class="bottom">
        <a (click)="createInvite()">Cadastrar</a>
      </div>
    </div>
  </div>
</div>

<app-loading [isActive]="loading"></app-loading>
